@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

/* CSS Document */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);/* ³ª´®°íµñ*/
@import url(http://cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css);/* ³ª´® ½ºÄù¾î*/
@import url(http://fonts.googleapis.com/earlyaccess/notosans.css); /* ³ëÅä»ê½º*/

@font-face { font-family: 'NanumGothic';
src: url('/fonts/NanumGothic.eot');
src: url('/fonts/NanumGothic.eot') format('embedded-opentype'),
url('/fonts/NanumGothic.woff') format('woff');}

@font-face{
font-family:'NanumSquare';
src: url(/fonts/NanumSquareR.eot);
src: url(/fonts/NanumSquareR.eot?#iefix) format('embedded-opentype'),
     url(images/NanumSquareR.woff) format('woff'),
     url(images/NanumSquareR.ttf) format('truetype');
}

@font-face { font-family: 'NanumBarunGothic';
src: url('/fonts/NanumBarunGothic.eot');
src: url('/fonts/NanumBarunGothic.eot') format('embedded-opentype'),
url('/fonts/NanumBarunGothic.woff') format('woff');}

@font-face{
font-family:'NanumMyeongjo';
src: url(/fonts/NanumMyeongjo.eot);
src: url(/fonts/NanumMyeongjo.eot?#iefix) format('embedded-opentype'),
     url(images/NanumMyeongjo.woff) format('woff'),
     url(images/NanumMyeongjo.ttf) format('truetype');
}

@font-face { font-family: 'NanumSL';
font-weight:400;
src: url('font/NanumSquareL.eot');
src: url('font/NanumSquareL.eot') format('embedded-opentype'),
src:local(¡Ø), url(font/NanumSquareL.woff) format(¡®woff¡¯);}
@font-face { font-family: 'NanumSR';
font-weight:600;
src: url('font/NanumSquareR.eot');
src: url('font/NanumSquareR.eot') format('embedded-opentype'),
src:local(¡Ø), url(font/NanumSquareR.woff) format(¡®woff¡¯);}
@font-face { font-family: 'NanumSB';
font-weight:800;
src: url('font/NanumSquareB.eot');
src: url('font/NanumSquareB.eot') format('embedded-opentype'),
src:local(¡Ø), url(font/NanumSquareB.woff) format(¡®woff¡¯);}
@font-face { font-family: 'NanumSEB';
font-weight:900;
src: url('font/NanumSquareEB.eot');
src: url('font/NanumSquareEB.eot') format('embedded-opentype'),
src:local(¡Ø), url(font/NanumSquareEB.woff) format(¡®woff¡¯);}

@font-face {
 font-family: 'NanumSquare';
 src: url(images/NanumSquareR.eot);
 src: url(images/NanumSquareR.eot?#iefix) format('embedded-opentype'),
      url(images/NanumSquareR.woff) format('woff'),
      url(images/NanumSquareR.ttf) format('truetype');
}

@font-face {
 font-family: "NanumGothic";
 src: url(font/NanumGothic.eot);
 src: url(font/NanumGothic.eot?#iefix) format('embedded-opentype'),
      url(font/NanumGothic.woff) format('woff'),
      url(font/NanumGothic.ttf) format('truetype');
}

body, button{font-family: 'NanumGothic', 'Nanum Gothic', 'NanumSquare', 'serif';color:#111;font-size:14px;line-height:1.47;letter-spacing:-0.01em;}

body {font-family: 'NanumBarunGothic','dotum','arial',sans-serif;}

font-family: 'NanumSL';
