@charset "utf-8";

/*  ³ª´®°íµñ    */
@font-face{
	font-family:'NG';
    font-style: normal;
	src:url('fonts/NanumGothic.eot');
	src:url('fonts/NanumGothic.eot?#iefix') format('embedded-opentype'),
	url('fonts/NanumGothic.woff') format('woff'),
	url('fonts/NanumGothic.ttf') format('truetype'),
	url('fonts/NanumGothic.svg#NanumGothic') format('svg');
	src:local(¡Ø), url('fonts/NanumGothic.woff') format('woff');
}
@font-face{
	font-family:'NGB';
    font-style: normal;
	src:url('fonts/NanumGothicBold.eot');
	src:url('fonts/NanumGothicBold.eot?#iefix') format('embedded-opentype'),
	url('fonts/NanumGothicBold.woff') format('woff'),
	url('fonts/NanumGothicBold.ttf') format('truetype'),
	url('fonts/NanumGothicBold.svg#NanumGothicBold') format('svg');
	src:local(¡Ø), url('fonts/NanumGothicBold.woff') format('woff');
}
@font-face{
	font-family:'NGBB';
    font-style: normal;
	src:url('fonts/NanumGothicBBold.eot');
	src:url('fonts/NanumGothicBBold.eot?#iefix') format('embedded-opentype'),
	url('fonts/NanumGothicBBold.woff') format('woff'),
	url('fonts/NanumGothicBBold.ttf') format('truetype'),
	url('fonts/NanumGothicBBold.svg#NanumGothicBBold') format('svg');
	src:local(¡Ø), url('fonts/NanumGothicBBold.woff') format('woff');
}

/*  ³ª´®¹Ù¸¥°íµñ  */
@font-face{
	font-family:'NBUL';
	src:url('fonts/NanumBarunGothicUltraLight.eot'),
    url('fonts/NanumBarunGothicUltraLight.eot?#iefix') format('embedded-opentype'),
	url('fonts/NanumBarunGothicUltraLight.woff') format('woff'),
	url('fonts/NanumBarunGothicUltraLight.woff2') format('woff'),
    local(¡Ø);
}
@font-face{
	font-family:'NBL';
	src:url('fonts/NanumBarunGothicLight.eot'),
    url('fonts/NanumBarunGothicLight.eot?#iefix') format('embedded-opentype'),
	url('fonts/NanumBarunGothicLight.woff') format('woff'),
	url('fonts/NanumBarunGothicLight.woff2') format('woff'),
    local(¡Ø);
}
@font-face{
	font-family:'NB';
	src:url('fonts/NanumBarunGothic.woff2') format('woff'),
    local(¡Ø);
}
@font-face{
	font-family:'NBB';
	src:url('fonts/NanumBarunGothicBold.eot'),
    url('fonts/NanumBarunGothicBold.eot?#iefix') format('embedded-opentype'),
	url('fonts/NanumBarunGothicBold.woff') format('woff'),
	url('fonts/NanumBarunGothicBold.woff2') format('woff'),
    local(¡Ø);
}

/*  ³ª´®¹Ù¸¥Ææ    */
@font-face{
	font-family:'NBP';
	src:url('fonts/nanumbarunpenr.eot'),
    url('fonts/nanumbarunpenr.eot?#iefix') format('embedded-opentype'),
	url('fonts/nanumbarunpenr.woff') format('woff'),
	url('fonts/nanumbarunpenr.woff2') format('woff'),
	url('fonts/nanumbarunpenr.ttf') format('truetype'),
	url('fonts/nanumbarunpenr.svg#nanumbarunpenr') format('svg'),
    local(¡Ø);
}
@font-face{
	font-family:'NBPB';
	src:url('fonts/nanumbarunpenb.eot'),
    url('fonts/nanumbarunpenb.eot?#iefix') format('embedded-opentype'),
	url('fonts/nanumbarunpenb.woff') format('woff'),
	url('fonts/nanumbarunpenb.woff2') format('woff'),
	url('fonts/nanumbarunpenb.ttf') format('truetype'),
	url('fonts/nanumbarunpenb.svg#nanumbarunpenb') format('svg'),
    local(¡Ø);
}

/*  ³ª´®¸íÁ¶    */
@font-face{
	font-family:'NM';
	src:url('fonts/NanumMyeongjo.eot'),
    url('fonts/NanumMyeongjo.eot?#iefix') format('embedded-opentype'),
	url('fonts/NanumMyeongjo.woff') format('woff'),
    local(¡Ø);
}
@font-face{
	font-family:'NMB';
	src:url('fonts/NanumMyeongjoBold.eot'),
    url('fonts/NanumMyeongjoBold.eot?#iefix') format('embedded-opentype'),
	url('fonts/NanumMyeongjoBold.woff') format('woff'),
    local(¡Ø);
}

/*  ³ª´®½ºÄù¾î   */
@font-face{
	font-family:'NSL';
	src:url('fonts/NanumSquareL.eot'),
    url('fonts/NanumSquareL.eot?#iefix') format('embedded-opentype'),
	url('fonts/NanumSquareL.woff') format('woff'),
    local(¡Ø);
}
@font-face{
	font-family:'NS';
	src:url('fonts/NanumSquareR.eot'),
    url('fonts/NanumSquareR.eot?#iefix') format('embedded-opentype'),
	url('fonts/NanumSquareR.woff') format('woff'),
	url('fonts/NanumSquareR.woff2') format('woff'),
    local(¡Ø);
}
@font-face{
	font-family:'NSB';
	src:url('fonts/NanumSquareB.eot'),
    url('fonts/NanumSquareB.eot?#iefix') format('embedded-opentype'),
	url('fonts/NanumSquareB.woff') format('woff'),
	url('fonts/NanumSquareB.woff2') format('woff'),
    local(¡Ø);
}
@font-face{
	font-family:'NSBB';
	src:url('fonts/NanumSquareEB.eot'),
    url('fonts/NanumSquareEB.eot?#iefix') format('embedded-opentype'),
	url('fonts/NanumSquareEB.woff') format('woff'),
    local(¡Ø);
}

/*  ºù±×·¹Ã¼    */
@font-face{
	font-family:'bing';
	src:url('fonts/Binggrae.otf') format('opentype'),
	url('fonts/Binggrae.woff') format('woff'),
	url('fonts/Binggrae.ttf') format('truetype'),
    local(¡Ø);
}
@font-face{
	font-family:'bing2';
	src:url('fonts/Binggrae-Bold.otf') format('opentype'),
	url('fonts/Binggrae-Bold.woff') format('woff'),
	url('fonts/Binggrae-Bold.ttf') format('truetype'),
    local(¡Ø);
}

/*  º»°íµñ    */
@font-face{
	font-family:'bonT';
	src:url('fonts/NotoSans-Thin.eot'),
    url('fonts/NotoSans-Thin.eot?#iefix') format('embedded-opentype'),
    url('fonts/NotoSans-Thin.otf') format('opentype'),
	url('fonts/NotoSans-Thin.woff') format('woff'),
	url('fonts/NotoSans-Thin.woff2') format('woff'),
    local(¡Ø);
}
@font-face{
	font-family:'bonL';
	src:url('fonts/NotoSans-Light.eot'),
    url('fonts/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/NotoSans-Light.otf') format('opentype'),
	url('fonts/NotoSans-Light.woff') format('woff'),
	url('fonts/NotoSans-Light.woff2') format('woff'),
    local(¡Ø);
}
@font-face{
	font-family:'bonDL';
	src:url('fonts/NotoSans-DemiLight.eot'),
    url('fonts/NotoSans-DemiLight.eot?#iefix') format('embedded-opentype'),
    url('fonts/NotoSans-DemiLight.otf') format('opentype'),
	url('fonts/NotoSans-DemiLight.woff') format('woff'),
	url('fonts/NotoSans-DemiLight.woff2') format('woff'),
    local(¡Ø);
}
@font-face{
	font-family:'bonR';
	src:url('fonts/NotoSans-Regular.eot'),
    url('fonts/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/NotoSans-Regular.otf') format('opentype'),
	url('fonts/NotoSans-Regular.woff') format('woff'),
	url('fonts/NotoSans-Regular.woff2') format('woff'),
    local(¡Ø);
}
@font-face{
	font-family:'bonM';
	src:url('fonts/NotoSans-Medium.eot'),
    url('fonts/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/NotoSans-Medium.otf') format('opentype'),
	url('fonts/NotoSans-Medium.woff') format('woff'),
	url('fonts/NotoSans-Medium.woff2') format('woff'),
    local(¡Ø);
}
@font-face{
	font-family:'bonB';
	src:url('fonts/NotoSans-Bold.eot'),
    url('fonts/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/NotoSans-Bold.otf') format('opentype'),
	url('fonts/NotoSans-Bold.woff') format('woff'),
	url('fonts/NotoSans-Bold.woff2') format('woff'),
    local(¡Ø);
}
@font-face{
	font-family:'bonBB';
	src:url('fonts/NotoSans-Black.eot'),
    url('fonts/NotoSans-Black.eot?#iefix') format('embedded-opentype'),
    url('fonts/NotoSans-Black.otf') format('opentype'),
	url('fonts/NotoSans-Black.woff') format('woff'),
	url('fonts/NotoSans-Black.woff2') format('woff'),
    local(¡Ø);
}

/*  NotoSans ÃâÃ³:ÄÚ¿À·Õ»ý¸í°úÇÐ https://www.kolonls.co.kr/main   */
@font-face{
	font-family: NotoSans;
	font-style: normal;
    font-weight: 400;
	src: url('fonts/NotoSans-400.woff') format('woff');
}
@font-face{
	font-family: NotoSans;
	font-style: normal;
    font-weight: 700;
	src: url('fonts/NotoSans-700.woff') format('woff');
}

/*  º»¸íÁ¶    */
@font-face{
	font-family:'bonmEL';
	src:url('fonts/NotoSerifCJKkr-ExtraLight.woff') format('woff'),
    local(¡Ø);
}
@font-face{
	font-family:'bonmL';
	src:url('fonts/NotoSerifCJKkr-Light.woff') format('woff'),
    local(¡Ø);
}
@font-face{
	font-family:'bonmR';
	src:url('fonts/NotoSerifCJKkr-Regular.woff') format('woff'),
    local(¡Ø);
}
@font-face{
	font-family:'bonmM';
	src:url('fonts/NotoSerifCJKkr-Medium.woff') format('woff'),
    local(¡Ø);
}
@font-face{
	font-family:'bonmSB';
	src:url('fonts/NotoSerifCJKkr-SemiBold.woff') format('woff'),
    local(¡Ø);
}
@font-face{
	font-family:'bonmB';
	src:url('fonts/NotoSerifCJKkr-Bold.woff') format('woff'),
    local(¡Ø);
}
@font-face{
	font-family:'bonmBB';
	src:url('fonts/NotoSerifCJKkr-Black.woff') format('woff'),
    local(¡Ø);
}

/*  ¿¡½ºÄÚ¾îµå¸²  */
@font-face{
	font-family:'scoreT';
	src:url('fonts/scdream1.woff') format('woff'),
	url('fonts/scdream1.woff2') format('woff'),
	url('fonts/scdream1.ttf') format('truetype'),
    local(¡Ø);
}
@font-face{
	font-family:'scoreEL';
	src:url('fonts/scdream2.woff') format('woff'),
	url('fonts/scdream2.woff2') format('woff'),
    local(¡Ø);
}
@font-face{
	font-family:'scoreL';
	src:url('fonts/scdream3.woff') format('woff'),
	url('fonts/scdream3.woff2') format('woff'),
    local(¡Ø);
}
@font-face{
	font-family:'scoreR';
	src:url('fonts/scdream4.woff') format('woff'),
	url('fonts/scdream4.woff2') format('woff'),
	url('fonts/scdream4.ttf') format('truetype'),
    local(¡Ø);
}
@font-face{
	font-family:'scoreM';
	src:url('fonts/scdream5.woff') format('woff'),
	url('fonts/scdream5.woff2') format('woff'),
    local(¡Ø);
}
@font-face{
	font-family:'scoreB';
	src:url('fonts/scdream6.woff') format('woff'),
	url('fonts/scdream6.woff2') format('woff'),
    local(¡Ø);
}
@font-face{
	font-family:'scoreEB';
	src:url('fonts/scdream7.woff') format('woff'),
	url('fonts/scdream7.woff2') format('woff'),
    local(¡Ø);
}
@font-face{
	font-family:'scoreH';
	src:url('fonts/scdream8.woff') format('woff'),
	url('fonts/scdream8.woff2') format('woff'),
    local(¡Ø);
}
@font-face{
	font-family:'scoreBB';
	src:url('fonts/scdream9.woff') format('woff'),
	url('fonts/scdream9.woff2') format('woff'),
    local(¡Ø);
}

/*  Laila  */
/* #### Generated By: http://www.cufonfonts.com #### */
@font-face {
    font-family: 'LailaL';
    font-style: normal;
    font-weight: normal;
    src: local('Laila Light'), url('fonts/Laila-Light.woff') format('woff');
}

@font-face {
    font-family: 'LailaR';
    font-style: normal;
    font-weight: normal;
    src: local('Laila Regular'), url('fonts/Laila-Regular.woff') format('woff');
}

@font-face {
    font-family: 'LailaM';
    font-style: normal;
    font-weight: normal;
    src: local('Laila Medium'), url('fonts/Laila-Medium.woff') format('woff');
}

@font-face {
    font-family: 'LailaSB';
    font-style: normal;
    font-weight: normal;
    src: local('Laila SemiBold'), url('fonts/Laila-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'LailaB';
    font-style: normal;
    font-weight: normal;
    src: local('Laila Bold'), url('fonts/Laila-Bold.woff') format('woff');
}

/*  Gmarket Sans  */
@font-face { 
    font-family: 'GmarketSansLight'; 
    src: url('fonts/GmarketSansLight.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal;
}
@font-face { 
    font-family: 'GmarketSansMedium'; 
    src: url('fonts/GmarketSansMedium.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal;
}
@font-face { 
    font-family: 'GmarketSansBold'; 
    src: url('fonts/GmarketSansBold.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal;
}

/* Chakra Petch*/
/* latin */
@font-face {
  font-family: 'Chakra Petch';
  font-style: normal;
  font-weight: 300;
  src: local('Chakra Petch Light'), local('ChakraPetch-Light'), url(fonts/ChakraPetch-Light.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Chakra Petch';
  font-style: normal;
  font-weight: 500;
  src: local('Chakra Petch Medium'), local('ChakraPetch-Medium'), url(fonts/ChakraPetch-Medium.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Chakra Petch';
  font-style: normal;
  font-weight: 700;
  src: local('Chakra Petch Bold'), local('ChakraPetch-Bold'), url(fonts/ChakraPetch-Bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* Monserrate */
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(fonts/Monserrate_L.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(fonts/Monserrate_L2.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(fonts/Monserrate_L3.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(fonts/Monserrate_L4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(fonts/Monserrate_L5.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(fonts/Monserrate_R.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(fonts/Monserrate_R2.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(fonts/Monserrate_R3.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(fonts/Monserrate_R4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(fonts/Monserrate_R5.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(fonts/Monserrate_M.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(fonts/Monserrate_M2.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(fonts/Monserrate_M3.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(fonts/Monserrate_M4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(fonts/Monserrate_M5.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(fonts/Monserrate_SB.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(fonts/Monserrate_SB2.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(fonts/Monserrate_SB3.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(fonts/Monserrate_SB4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(fonts/Monserrate_SB5.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(fonts/Monserrate_B.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(fonts/Monserrate_B2.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(fonts/Monserrate_B3.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(fonts/Monserrate_B4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(fonts/Monserrate_B5.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}






